.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-background-screen);
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
